@import "~bootstrap/scss/bootstrap";
@import "./partials/navbar";
@import "./partials/sidebar";
@import "./partials/sidebar-accounts";

body {
  font-size: 0.875rem;
  font-family: myriad-pro, sans-serif;
}

main {
  width: 100%;
  padding-left: calc(320px + 106px + 15px);
}

aside {
  width: calc(320px + 106px);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #efe9e5;
}
