@import "~bootstrap/scss/bootstrap";
@import "./partials/navbar";
@import "./partials/sidebar";
@import "./partials/section-accounts";
@import "./partials/table-transfer";
@import "./partials/navmain";

body {
  font-size: 0.875rem;
  font-family: myriad-pro, sans-serif;
}

main {
  width: 100%;
  padding-left: 106px;
  background: #f0e9e6;
  height: 100vh;
}
