@import "./vars";

.section-account {
  & {
    width: 100%;
  }

  .account-list {
    & {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      margin-top: 64px;
    }

    .card {
      & {
        width: 290px;
        height: 140px;
        flex: 0 0 290px;
        margin-top: 15px;
        margin-right: 15px;
        min-height: 137px;
        background-color: #ffffff;
        border-radius: 5px;
        overflow: hidden;
        border-left: 5px solid #ffffff;
        box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
      }

      &:hover {
        border-left: 5px solid $primary-color;
      }

      .card-icon {
        width: 32px;
        height: 32px;
        position: absolute;
        top: 7px;
        right: 5px;
        -webkit-border-radius: 32px;
        border-radius: 32px;
        text-align: center;
        line-height: 32px;

        .material-icons-outlined {
          color: $primary-color;
        }
      }

      .card-title {
        & {
          line-height: 24px;
        }

        strong {
          display: block;
          font-size: 18px;
          color: #252220;
        }

        span {
          font-size: 14px;
          color: #252220;
        }
      }

      .card-text {
        & {
          font-size: 24px;
          color: $secondary-color;
        }

        &.positive {
          color: #229870;
        }

        &.negative {
          color: #935ba8;
        }

        a {
          float: right;
        }
      }
    }

    .card-active {
      background-color: $secondary-color !important;
      border-left: 5px solid lighten($secondary-color, 10%);

      &:hover {
        border-left: 5px solid lighten($secondary-color, 10%);
      }

      .card-icon {
        .material-icons-outlined {
          color: #fff;
        }
      }

      .card-title {
        strong {
          color: #fff;
        }

        span {
          font-size: 14px;
          color: #fff;
        }
      }
      .card-text {
        & {
          font-size: 24px;
          color: #fff;
        }

        &.positive {
          color: #229870;
        }

        &.negative {
          color: #e190ff !important;
        }

        a {
          float: right;
        }
      }

      .feather {
        color: #fff;
      }
    }
  }
}

.feather {
  color: $secondary-color;
}
