.section-account {

	& {
		width: 100%;
	}

	.account-list {
		
		& {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;
			margin-top: 64px;
		}
	
		.card {

			& {
				width: 240px;
				height: 140px;
				flex: 0 0 260px;
				margin-top: 15px;
				margin-right: 15px;
				min-height: 137px;
				border-radius: 30px;
			}

			.card-icon {
				width: 32px;
				height: 32px;
				background-color: red;
				position: absolute;
				top: -8px;
				right: -8px;
				-webkit-border-radius: 32px;
						border-radius: 32px;
				text-align: center;
				line-height: 32px;
			}
			
			.card-title {

				& {
					line-height: 24px;
				}

				strong {
					display: block;
					font-size: 18px;
				}

				span {
					font-size: 14px;
				}
			}

			.card-text {
				
				& {
					font-size: 24px;
					color: #004990;
				}

				&.positive {
					color: #229870;
				}

				&.negative {
					color: #935BA8;
				}

				a {
					float: right;
				}
			}
		}
	}
}