$primary-color: #f57921;
$secondary-color: #004990;
$accent-color: #ffe512;

.sidebar {
  & {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 25px 0px 40px 0px;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);
    flex: 0 0 106px;
    max-width: 106px;
    border-radius: 0px 18px 18px 0px;
  }

  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
      flex: 0 0 106px;
      max-width: 106px;
    }
  }

  .nav-link {
    color: #fff;

    .material-icons-outlined {
      font-size: 34px;
    }
  }
}
.active {
  color: lighten(#f57921, 10%) !important;
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar-heading {
  font-size: 0.75rem;
  text-transform: uppercase;
}

.bg-primary-brand {
  background: $primary-color;
}

.bg-secondary-brand {
  background: $secondary-color;
}

.bg-accent-brand {
  background: $accent-color;
}
